* {
    box-sizing: border-box;
    font-family: 'Aclonica', sans-serif;
  }

  
  body {
    display: flex;
    margin: 0;
    height: 100vh;
    display: grid;
  }
  
  header {
    font-size: 6vmin;
    padding: 1vmin;
    background: 
    url(https://image.freepik.com/free-vector/sword-shield-seamless-background-backdrop_1284-45995.jpg);
    background-size: contain;
    color: black;
    text-shadow: 0 0 7px #e6ba75, 0 0 7px #e6ba75; 
    text-align: center;
    letter-spacing: .5vmin;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #e6ba75;
  }

  h1 {
      color: white;
      font-size: 1vmin;
  }
  
  
  #play {
      font-size: 2vmin;
      font-weight: bold;
      padding: 2vmin;
      margin-top: 4vmin;
      border: .3vmin solid black;
      color: black;
      border-radius: 2vmin;
      outline: none;
      cursor: pointer;
    }
    
    h1 {
        font-size: 5vmin;
        color: #1c1d21;
        
        text-align: center;
    }
    
    section {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
      background: url(https://image.freepik.com/free-vector/sword-shield-seamless-background-backdrop_1284-45995.jpg);
      background-size: contain;
    }
  #reset {
    font-size: 2vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .3vmin solid black;
    color: black;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }
  
  #play:hover {
    background-color: #60ca60;
    color: black
  }

  #reset:hover {
      background-color: #c56161;
  }

#comp-card {
    height: 100px;
}

#player-score, #comp-score {
    color: black;
}

#comp-score {
    padding: 20px 40px;
}

#player, #computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-war, #comp-war {
    position: absolute;
    right: 0;
    padding-right: 40vmin;
}

#p-win, #c-win {
    position: absolute;
    left: 0;
    padding-left: 50vmin;
}